.form {
  padding: 8px 0;
}

.form td {
  padding: 4px 12px;
}

.form input[type="date"] {
  width: 140px;
  height: 32px;
  padding: 0 4px;
  border: 1px solid gray;
  border-radius: 4px;
  font: inherit;
}

.form input[type="checkbox"] {
  scale: 1.25;
  accent-color: #745399;
}

.form .checkboxLabel {
  padding: 4px;
}
